EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dmFzdC10YWhyLTI3LmNsZXJrLmFjY291bnRzLmRldiQ
EXPO_PUBLIC_API_URL=https://your-api-gateway.execute-api.us-east-1.amazonaws.com/dev
EXPO_PUBLIC_CDN_URL=https://your-cloudfront-or-s3-url.com